
<section>
  <div style="height:100%">
  <div class="top">
    


  <div class="container">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3">
        <select class="custom-select " id="btn">
          <option selected>Select County</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
      </div>
      <div class="col">
        <div class="p-3">
        <select class="custom-select" id="btn">
          <option selected>Select Constituency</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      </div>
     
      <div class="col">
        <div class="p-3">
        <select class="custom-select" id="btn">
          <option selected>Select Ward</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      </div>
      <div class="button">
       <button type="button"  class="btn  btn-lg">GET WEATHER FORECAST</button>
      </div>
    </div>
  </div>
  </div>
  <div class="bottom"></div>
  </div>
</section>
    
