<div class="container-fluid" id="main-page">
    <div class="container"> 

   
        
         <div class="row" id="main-row">
         <div class="col-md-3">
            <div class="card-profile">
                
            </div>
            <div class="myfeeds">
                
            </div>
            
         </div>
         <div class="col-md-5" style="margin-left: 12px;">
             <div class="feed1">

             </div>
            
             
 
         </div>
         <div class="col-md-3" style="margin-left: 34px;">
             <div class="card-side1">

             </div>
             <div class="card-side2">

             </div>
 
         </div>
        </div>
     </div>
 
 </div>


